*{
    margin:0;
    padding:0;
  }
  
body {
  background: rgb(251,151,121);
  background: linear-gradient(329deg, rgba(251,151,121,1) 0%, rgba(255,255,255,1) 85%);
}

  header{
    border-bottom: 1px solid #D8460C;
    height: 12.5vh;
    display:flex;
  }
  
  #logo{
    width: 30vw;
    height: 10vh;
    margin-left: 2vw;
    margin-top: 1vw;
  }
  
  #logo img{
    height: 8vh;
  }
  #display{
    width: 50vw;
  }
  
  #user{
    width: 20vw;
  }
  
  main{
    margin: 2vh 2vw;
    min-height: 80vh;
  }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card a{
    text-decoration: none;
  }
  
  #modal-view{
    border:1px solid #D8460C;
    position: absolute;
    display:none;
    width: 90vw;
    padding:10px;
   
  }
  
  #close-modal{
    float:right;
  }
  
  #modal{
    border:1px solid #D8460C;
    position: absolute;
    padding:2vh 2vw;
    display: none;
    width: 90vw;
  }
  
  #controls-note{
    display:flex;
    gap:10px;
  }  
